.M{
    border-left: 2px solid #019cdb;
}
.S{
    border-left: 2px solid #ed1b34;
}
.SD{
    border-left: 2px solid #fbc700;
}
.C{
    border-left: 2px solid #114838;
}
.V{
    border-left: 2px solid #da291c;
}
.L{
    border-left: 2px solid #006ab3;
}
.KD{
    border-left: 2px solid #005ea1;
}
.MP{
    border-left: 2px solid #53a045;
}